body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:transparent;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

/* Fonts
=================== */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}
/*  header
=================== */
#navbar > ul {
    float:right;
}

.navbar-inverse {
    background-color: rgba(66, 65, 65, 0.81);
    border-color: #FFFFFF;
    padding-top: 10px;
    height: 75px;
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-size:32px;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: #D17279;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #B5B5B5;
}

/* wrappers for background images
==================== */

.home_jumbotron {
    padding-top: 25%;
}

.home_jumbotron .container {
    background-color: rgba(207, 103, 112, 0.89);
    padding: 20px 30px;
    color:#fff;
}

/* wrappers for big images
================= */
.jumbotron {
    background-color:transparent;
}

.wrapper_homepage{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(/img/jumbo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}


.wrapper_reg{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(/img/reg_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.wrapper_login {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(/img/admin_bg_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.wrapper_admin {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(/img/login_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.wrapper_admin .jumbotron {
    margin-top: 10%;
}



/* Footer
================= */
.footer {
    min-height: 50px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.86);
    position: fixed;
    bottom: 0;
    color: #fff;
}

#copyright {
    margin-top: 15px;
    font-size: 12px;
}

body > div.container {
    margin-bottom:100px;
}

/* buttons
================ */
a:hover {
    color: #ffffff;
    background-color: #CA6A71;
    border-color: #E4E4E4;
}

.btn-primary {
    color: #CA6A71;
    background-color: #FFFFFF;
    border-color: #E4E4E4;
}


.btn-primary:hover {
    color: #ffffff;
    background-color: #CA6A71;
    border-color: #E4E4E4;
}


.btn-primary:active {
    color: #CA6A71;
    background-color: #FFFFFF;
    border-color: #E4E4E4;
}

/* Nav bar - mobile 
======================= */
@media screen and (max-width: 768px) {

    #navbar > ul {
        float: left;
    }

    #login {
        width: 80%!important;
    }
}


span{
    color:red;
}

h2{
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 30px;
}



/* Login
======================= */
#main {
    margin-top: 30%;
}

#reg_login {
    margin-top:15%;
}


.error_msg{
    color: white;
    font-size: 24px;
}

.message {
    position: relative;
    font-size: 36px;
    color: #FFFFFF;
    width: 50%;
    margin: 5% auto;
    text-align: center;
    background-color: rgb(95, 97, 99);
    padding: 10px 20px;
}

#login{

    width:50%;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin: 0 auto;
    background-color: rgba(157, 129, 137, 0.92);
    color:#fff;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#login > a {
    color:#fff;
}


a{
    text-decoration:none;
    color: #f1f1f1;
}


label {
    font-weight:normal;
}

/*  Modal
================= */
.modal-header {
    background-color: #9d8189;
    color: #fff;
    margin-bottom:15px;
}
.modal-content {
    background-color: rgba(157, 129, 137, 0.67);
}


input[type=text],input[type=password], input[type=email]{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    color:#888888;
}

input[type=submit]{
    width: 100%;
    background-color:#f4acb7;
    color: white;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type=submit]:hover {
    width: 100%;
    background-color:#ffcad4;
}


/* admin / profile page
=================== */
#profile{
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color: rgba(157, 129, 137, 0.89);
    color: #fff;
}


i{
    color: #DD0714;
}


